@using CrossNull.Web.Model
@Html.ValidationSummary(true)
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 style="background-color:antiquewhite" class="alert alert-success">Register</h2>
<h4 style="background-color:antiquewhite">Create a new account.</h4>
<br />

@if (ViewBag.Message != null)
{
    <h4 class=" alert-warning">@ViewBag.Message</h4>
}
@if (ViewBag.MessageIf != null)
{
    <h4 class=" alert-warning">@ViewBag.MessageIf</h4>
}
<div>------------</div>
@Html.ValidationSummary()

<form method="post">
    @Html.EditorForModel()
    <input type="submit" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto col-lg-offset-1" value="Send" /><br /><br />
</form>
@*<form method="post" style="background-color:antiquewhite" class="row col-lg-push-3">
        <label class="visually-hidden">Login:</label><br />
        <input type="text" class="form-control" name="login" /><br /><br />
        <label class="visually-hidden">Your e-mail:</label><br />
        <input type="text" class="form-control" name="Email" /><br /><br />
        <label>Password:</label><br />
        <input type="password" class="form-control form-control-lg" name="password" /><br /><br />
        <label>Repeat password:</label><br />
        <input type="password" class="form-control form-control-lg" name="password" /><br /><br />
        <input type="submit" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto col-lg-offset-1" value="Send" /><br /><br />
    </form>*@
